[Desktop Entry]
Name=qtFM
Name[de]=Dateimanager qtFM
Name[sr]=кјутФМ
Name[sr@ijekavian]=кјутФМ
Name[sr@latin]=qtFM
Name[sr@ijekavianlatin]=qtFM
Name[zh_TW]=qtFM

GenericName=Qt File Manager
GenericName[es]=Qt Gestor de Archivos
GenericName[sr]=Кјут менаџер фајлова
GenericName[sr@ijekavian]=Кјут менаџер фајлова
GenericName[sr@latin]=qtFM menadžer fajlova
GenericName[sr@ijekavianlatin]=qtFM menadžer fajlova
GenericName[zh_TW]=Qt檔案管理員

Comment=A lightweight file manager based on pure Qt
Comment[de]=Ein schlanker, Qt-basierter, Dateimanager
Comment[es]=Un gestor de archivos ligero basado en Qt puro
Comment[it]=Un file manager leggero basato su puro Qt
Comment[ru]=Легкий файловый менеджер на основе чистого Qt
Comment[sr]=Лагани менаџер фајлова базиран на чистом КјуТ-у
Comment[sr@ijekavian]=Лагани менаџер фајлова базиран на чистом КјуТ-у
Comment[sr@latin]=Lagani menadžer fajlova baziran na čistom Qt-u
Comment[sr@ijekavianlatin]=Lagani menadžer fajlova baziran na čistom Qt-u
Comment[zh_TW]=基於純Qt的輕量級檔案管理員

Type=Application
Icon=qtfm
Exec=qtfm
Terminal=false
MimeType=application/x-directory;inode/directory
Categories=Qt;Utility;FileManager
