[Desktop Entry]
Name=QtFM
GenericName=Qt File Manager
Comment=Qt File Manager
Type=Application
Icon=folder
Exec=qtfm
Terminal=false
MimeType=application/x-directory;inode/directory
Categories=Utility;FileManager
StartupNotify=false
