[Desktop Entry]
Name=Default Applications
GenericName=Default Applications
Comment=Change default applications
Type=Application
Icon=applications-other
Exec=qtfm-settings-mime
Terminal=false
Categories=Settings;
StartupNotify=false
OnlyShowIn=Draco

