[Desktop Entry]
Name=QtFM Power Settings
Comment=QtFM Power Settings
Icon=battery
Exec=qtfm-power-settings
Terminal=false
Type=Application
Categories=Settings;
StartupNotify=false
